<a href="https://colab.research.google.com/github/jjangmo91/ParkLab/blob/main/Python/01_variable_%26_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 시작하기 #0 : 변수와 자료형

In [ ]:
# 변수(Variable)
a = 1
print(a)

a = a + 1
print(a)

In [ ]:
# 숫자(Number)
a = 1992 # 정수형(int)
b = 7.31 # 실수형(float)

print(a + b) # 덧셈 연산
print(a * b) # 곱셈 연산
# print(ab)
print(type(a)) # 변수 a의 자료형 출력

In [ ]:
# 문자열(String)
s1 = "ParkLab Data Science"
s2 = "2025"
s3 = '''I want to learn about nature
through data science.'''

# 문자열 연결(concatenation)
print(s1 + s2)

# 문자열 반복
print(s1 * 5)
# print(s1 * s2)

# 여러 줄 문자열 출력
print(s3)

In [ ]:
s1 = "ParkLab Data Science"
s3 = "I want to learn about nature"

# 문자열 인덱싱(indexing)
print(s1[3])

# 문자열 슬라이싱(slicing)
print(s3[0:5])
print(s3[7:])

# 문자열 포매팅(formatting)
temp = 11.7
mt = "Bukhansan"
#"The mean temperature of %s today is %s" %(mt, temp) # 구식 포매팅
#"The mean temperature of {} today is {}".format(mt, temp) # format 메서드
#f"The mean temperature of {mt} today is {temp}" # f-string

In [ ]:
# 리스트(List)
l1 = []
l2 = [1, 2, 3]
l3 = ['Songnisan', 'Odaesan', 'Jirisan']
l4 = [1, 2, 'Songnisan', 'Odaesan', 'Jirisan']
l5 = [1, 2, ['Songnisan', 'Odaesan', 'Jirisan']]

#l5[2][2] # list indexing
#l5[1:3] # list slicing
#l5[2][0] = 'Hallasan'
#l5

In [ ]:
# 튜플(Tuple)
t1 = () # 빈 튜플
t2 = (1, ) # 원소가 하나뿐인 튜플(뒤에 콤마 필요)
t3 = 'Songnisan', 'Odaesan', 'Jirisan' # 괄호 없이도 튜플 가능
t4 = (1, 2, 'Songnisan', 'Odaesan', 'Jirisan')
t5 = 1, 2, ('Songnisan', 'Odaesan', 'Jirisan')

#t5[2][2] # tuple indexing
#t5[1:3] # tuple slicing
#t5[2][0] = 'Hallasan' # 튜플은 immutable -> 수정 불가

In [ ]:
# 딕셔너리(Dictionary)
park = {
    "국립공원": "한려해상",
    "면적": 510,
    "깃대종": "팔색조"
}

# Create(추가)
park["관리기관"] = "국립공원공단"
print(park)

# Read(조회)
print(park["국립공원"])

# Update(수정)
park["면적"] = 520 # 이미 존재하는 키의 값 변경
print(park)

# Delete(삭제)
del park["깃대종"] # 깃대종 키-값 삭제
print(park)

In [ ]:
# 집합(Set)
설악산 = {"반달가슴곰", "고라니", "산양"}
월악산 = set(["산양", "노루", "멧돼지"])

# 집합 출력
print(설악산)
print(월악산)

# 집합 연산 예시
print("교집합", 설악산 & 월악산)
print("합집합", 설악산 | 월악산)

In [ ]:
# 불(bool)
a = True
b = False

print(type(a))
print(1 == 2)